@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;481&family=Josefin+Slab:wght@200&family=Poppins:wght@100;200;300;400;600;700&display=swap');
* {
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
   scroll-behavior: smooth;
   
}
body {
	margin: 0px;
	padding: 0px;
   font-family: 'Poppins', sans-serif;
   width: 100%;
   height: 100%;  
   background-image: url(img/bg10.png) !important;
   cursor: none;
   
}


/*NAVI*/
ul{
   list-style: none;
}

nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 1;
   background-color: transparent;
}

.container-fluid{
   background-color: transparent;
}
.logo img{
   height: 70px;
   width: 70px;
   margin-right: 30px;
}
nav ul{
   display: flex;
}
.nav-item a{
   display: flex;
   font-size: 0.8rem;
   font-weight: 500;
   color: white;
   letter-spacing:1px;
   text-decoration: none;
   background-color: transparent;
}
.nav-item a:hover{
color: white;
}

.navbar-toggler-icon{
   border-color: #7176d7;
}




/*maintaii*/


#main{
   height: 90vh;
   width: 100%;
   align-items: center;
}
.name-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Josefin sans', sans-serif;

}
.name-text ul{
    list-style: none;
    display: flex;

}

.name-text ul a{
    text-decoration: none;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
}
.cursor{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    background-color: white;
    mix-blend-mode: difference;
    transition: 0.1s;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
}
ul a:hover ~ .cursor{
    transform: scale(6);
    font-family: 'Josefin sans', sans-serif;
}



.main-text{
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-size: 30px;
   color: #fff;
   margin-top: -150px;
}
.main-text img{
   width: 120px;
}
.main-text img:hover{
   border-color: #0132a6;
   border-style: solid;
   border-radius: 8px;
}









/*about me*/



#about{
    height: 135vh;
    width: 100%;
    cursor: default;
    background-image: url(img/bg.png);

}

.abhead{
    display: block;
    font-family: 'Poppins', sans-serif;
}
.abhead h1{
    text-align: center;
    justify-content: center;
    color: #dcdcdc;
    padding-top: 30px;
}
.abhead h1:hover{
    color: #918fa0;
}

.abhead p{
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}
.edu{
    justify-content: center;
    text-align: center;
}
.edu h3{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.edu h3:hover{
    color: #918fa0;
}
.edu p{
    font-size: 15px;
    color: #fff;
}
.edu p:hover{
    color: #918fa0;
    transition:  1s;
}
.mid h3{
    color: #918fa0;
    justify-content: center;
    text-align: center;
}





.progress_bar .pro-bar {
    background: hsl(0, 0%, 97%);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
    height:4px;
    margin-bottom: 12px;
    margin-top: 50px;
    position: relative;
}
.progress_bar .progress_bar_title{
    color: hsl(218, 4%, 50%);
    font-size: 15px;
    font-weight: 300;
    position: relative;
    top: -28px;
    z-index: 1;
}
.progress_bar .progress_number{
    float: right;
    color: #fff;
}
.progress_bar .progress-bar-inner {
    background-color: hsl(0, 0%, 88%);
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s linear 0s;
}
.progress_bar .progress-bar-inner:before {
    content: "";
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: 1;
}
.progress_bar .progress-bar-inner:after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: -5px;
}














/*project*/


#projects{
   display: block;
   width: 100%;
   background-image: url(img/bg13.png);
   cursor: default;

}

.prohead{
   text-align: center;
   justify-content: center;
   padding-top: 30px;
}
.container{
   display: grid;
} 
.carousel-item img{
   height: 99%;
   margin-bottom: 50px;
}
.carousel-caption{
   font-family: 'Poppins', sans-serif;
}
.carousel-caption h3{
   color: #a9adff;
   font-size: 50px;
   filter: blur(8px);
  -webkit-filter: blur(2px);
}
.carousel-caption p{
   color: #fff;
}
.carousel-caption a{
   color: #ffbaba;
}




/*fooooooter*/


.footer{
  box-sizing: border-box;
  width: 100%;
  font-family: 'Poppin', sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  overflow: hidden;
  cursor: default;
  background-color: #111;
}





.footer-left{
  float: left;
}

.footer-links{
  color:  #fff;
  margin: 0 0 10px;
  padding: 0;
  margin-top: 20px;
}

.footer-links a{
  display:inline-block;
  line-height: 2.5;
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
}
.footer-links a:hover{
   color: #7176d7;
}







.footer-right{
  float: right;
}

.footer-right p{
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #fff;
}










.footer form{
  display: inline-block;
}

.footer form input,
.footer form textarea{
  display: block;
  box-sizing: border-box;
  background-color:  transparent;
  border: grid;
  border-style: double;
  resize: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color:  #696969;

  width: 400px;
  padding: 18px;
}

.footer ::-webkit-input-placeholder {
  color:  #fff;
}

.footer ::-moz-placeholder {
  color:  #fff;
  opacity: 1;
}

.footer :-ms-input-placeholder{
  color:  #fff;
}


.footer form input{
  height: 55px;
  margin-bottom: 15px;
}

.footer form textarea{
  height: 100px;
  margin-bottom: 20px;
}

.footer form button{
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color:  #696969;
  color: #fff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}



.btn{
    color: #fff;
    background-color: transparent;
    font-family: 'Cairo', sans-serif;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    border: 2px solid #3c40c6;
    border-radius: 15px 0;
    padding: 5px 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.btn:hover{
    color: #fff;
    background-color: transparent;
}
.btn:before,
.btn:after{
    content: '';
    background-color: #3c40c6;
    height: 100%;
    width: 100%;
    border-radius: 10px 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease;
}
.btn:hover:before{ transform: scale(0); }
.btn:after{
    height: 79%;
    width: 115%;
    border-radius: 20px;
    transform: translateX(-50%) translateY(-50%) scale(0);
    left: 50%;
    top: 50%;
}
.btn:hover:after{ transform:translateX(-50%) translateY(-50%) scale(1); }
.btn.green{ border-color: #10ac84; }
.btn.green:before,
.btn.green:after{
    background-color: #10ac84;
}
.btn.orange{ border-color: #ff7b00; }
.btn.orange:before,
.btn.orange:after{
    background-color: #ff7b00;
}
.btn.pink{ border-color: #f368e0; }
.btn.pink:before,
.btn.pink:after{
    background-color: #f368e0;
}
.footbtn{
    color: #fff;
}
@media only screen and (max-width: 767px){
    .btn{ margin-bottom: 20px; }
}





.endfooter{
    background-color: #111;
    display: inline-block;
    cursor: default;
    width: 100%;
    text-align: center;
    align-items: center;
    border-style: solid;
    border-color: #111;
    border-top-color: #fff;
}
.footer-logo p{
  color:  #999;
  font-size: 19px;
  font-style: 'Poppin' sans-serif; 


}
.footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 20px;
  color: #7176d7;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  margin-top: 5px;
}


.footer-icons a:hover{
   color: #fff;
}



.footer-right,
.footer-left{
    margin-top: 10px;
}



@media (max-width: 1000px) {

  .footer {
    font: bold 14px sans-serif;
  }

  .footer .footer-logo{
    font-size: 12px;
  }

  .footer form input,
  .footer form textarea{
    width: 250px;
  }

  .footer form button{
    padding: 10px 35px;
  }

}

@media (max-width: 800px) {

  .footer{
    padding: 30px;
  }

   .footer-left,
   .footer-right{
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer .footer-left{
    margin-bottom: 40px;
  }

  .footer form{
    margin-top: 30px;
  }

  .footer form{
    display: block;
  }

  .footer form button{
    float: none;
  }
}
